body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 31%);
    color: hsl(0, 0%, 91%);
    font-size: larger;
    line-height: 32px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

/* styles.css */
.container {
    display: flex; /* Create a container with flexbox layout */
    flex-direction: row-reverse; /* Stack elements in reverse order (image right, text left) */
}

.image-container {
    position: relative; /* Allow positioning within the container */
    width: 30vw; /* Define image container width */
    margin: 5vw; /* Add some margin around the container */
}

.responsive-image {
    max-width: 100%; /* Scale image to container width */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position image within container */
    top: 0; /* Align image to top */
    right: 0; /* Align image to right (due to reversed order) */
}

.content {
    flex: 1; /* Allow content to occupy remaining space */
    order: 0; /* Ensure natural order in the flexbox */
    overflow: auto; /* Add if content might overflow vertically */
}
